body {
  background-color: #AAAAAA;
}

#mainCanvas {
  color: #FFFFFF;
  background-color: transparent;
  height: 100vh;
  width: auto;

}

#textHolder {
  height: fit-content;
  width: max-content;
  z-index: 1;
}

#colorBlock {
  position: absolute;
  bottom: 0;
  height: 100vh;
  width: 100%;
  z-index: 0;
  animation-duration: 1s;
  animation-name: slideIn;
}

@keyframes slideIn {
  from {
    margin-bottom:100%
  }

  to {
    margin-bottom:0%;
  }
}
